<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/XHtml.xhtml to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <ui:include src="../templates/head.xhtml" />
        </h:head>
    </f:view> 

    <body>
    <ui:include src="../templates/header.xhtml" />
    <ui:include src="../templates/menu_supervisor.xhtml" />

    <!-- INICIO AREA DE TRBAJO -->

    <div class="ui-fluid fluid-center">
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row top-buffer">

                <div class="ui-grid-col-3">                       
                </div>

                <div class="ui-grid-col-6">
                    <p:graphicImage name="img/principal.png" class="img_responsive"/>
                </div>

                <div class="ui-grid-col-3">                       
                </div>

            </div>
        </div>
    </div>

    <!-- FIN AREA DE TRABAJO -->

    <ui:include src="../templates/footer.xhtml" />
</body>
</html>