<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/XHtml.xhtml to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <f:view contentType="text/html">
        <h:head>
            <ui:include src="../templates/head.xhtml"/>
        </h:head>
    </f:view>
    <body>
        <ui:include src="../templates/header.xhtml"/>
        <ui:include src="../templates/menu_supervisor.xhtml"/>
        <!-- AREA DE TRABAJO -->
        
        <div class="ui-fluid">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row top-buffer">
                    <div class="ui-grid-col-3">
                    </div>
                    
                     <div class="ui-grid-col-6">
                         <h:form id="form">
                             <p:panel id="panelTechnician" header="Technician">
                                 <p:messages id="mensajes" showDetail="true" closable="true"/>
                                 
                                 <div class="ui-grid-row top-buffer">
                                     <div class="ui-grid-col-3">
                                         <h:outputText value="Document:" />
                                     </div>
                                     
                                     <div class="ui-grid-col-3">
                                         <p:inputText id="txtDocument" binding="#{TechnicianView.txtDocument}"/>
                                     </div>
                                 </div>
                                 
                                 <div class="ui-grid-row top-buffer">
                                     <div class="ui-grid-col-3">
                                         <h:outputText value="Name:" />
                                     </div>
                                     
                                     <div class="ui-grid-col-3">
                                         <p:inputText id="txtName" binding="#{TechnicianView.txtName}"/>
                                     </div>
                                 </div>
                                 
                                 <div class="ui-grid-row top-buffer">
                                     <div class="ui-grid-col-3">
                                         <h:outputText value="Especiality:" />
                                     </div>
                                     
                                     <div class="ui-grid-col-3">
                                         <p:inputText id="txtEspeciality" binding="#{TechnicianView.txtEspeciality}"/>
                                     </div>
                                 </div>
                                 
                                 <div class="ui-grid-row top-buffer">
                                     <div class="ui-grid-col-3">
                                         <h:outputText value="Phone:" />
                                     </div>
                                     
                                     <div class="ui-grid-col-3">
                                         <p:inputText id="txtPhone" binding="#{TechnicianView.txtPhone}"/>
                                     </div>
                                 </div>
                                 
                                 <div class="ui-grid-row top-buffer">
                                     <div class="ui-grid-col-3 right-buffer">
                                         <p:commandButton id="btnCrear" action="#{TechnicianView.insert()}" update="form" binding="#{TechnicianView.btnCrear}" value="Crear" styleClass="ui-button-primary" />
                                     </div>
                                     
                                     <div class="ui-grid-col-3 right-buffer">
                                         <p:commandButton id="btnMidificar" action="#{TechnicianView.update()}" binding="#{TechnicianView.btnModificar}" update="form" disabled="true" value="Modificar" styleClass="ui-button-secondary"/>
                                     </div>
                                     
                                     <div class="ui-grid-col-3 right-buffer">
                                         <p:commandButton id="btnEliminar" action="#{TechnicianView.delete()}" binding="#{TechnicianView.btnEliminar}" update="form" disabled="true" value="Eliminar" styleClass="ui-button-danger">
                                             <p:confirm header="Confirmar" message="¿Está seguro de eliminar el registro?"/>
                                         </p:commandButton>
                                         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                             <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes"/>
                                             <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                         </p:confirmDialog>
                                     </div>
                                     
                                     <div class="ui-grid-col-3 right-buffer">
                                         <p:commandButton id="btnLimpiar" action="#{TechnicianView.clear()}" update="form" value="Limpiar" styleClass="ui-button-success"/>
                                     </div>
                                 </div>
                                 
                             </p:panel>
                             
                             <p>
                                 <p:separator/>
                             </p>
                             
                             <div class="ui-grid-row top-buffer">
                                 <div class="ui-grid-col-12">
                                     <p:dataTable id="dataTableTechnician" reflow="true" paginator="true" rows="5"
                                                  selectionMode="single" var="technician" emptyMessage="No existen technicians" paginatorPosition="bottom"
                                                  value="#{TechnicianView.listTechnician}" rowKey="#{technicianView.document}">
                                         
                                         <p:ajax event="rowSelect" listener="#{TechnicianView.onRowSelect}" update=":form:panelTechnician"/>
                                         
                                         <p:column headerText="Documento">
                                             <h:outputText value="#{technician.document}" />
                                         </p:column>
                                         
                                         <p:column headerText="Name">
                                             <h:outputText value="#{technician.name}" />
                                         </p:column>
                                         
                                         <p:column headerText="Especiality">
                                             <h:outputText value="#{technician.especiality}" />
                                         </p:column>
                                         
                                         <p:column headerText="Phone">
                                             <h:outputText value="#{technician.phone}" />
                                         </p:column>
                                     </p:dataTable>
                                 </div>
                             </div>
                         </h:form>
                    </div>
                    
                    <div class="ui-grid-col-3">
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- FIN AREA DE TRABAJO -->
        <ui:include src="../templates/footer.xhtml"/>
        
    </body>
</html>