<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/XHtml.xhtml to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
    <body>
        <ui:composition>
            <f:facet name="first">
                <meta charset="utf-8"/>
                <title> Order Web </title>
                <h:outputStylesheet name="css/estilo.css"/>
                <h:outputScript name="js/calendar_es.js"/>
                <!-- incluir validacion de sesion -->
            </f:facet>
        </ui:composition>
    </body>
</html>
