<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/XHtml.xhtml to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition>
        <div class="ui-fluid fluid-center">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12" align="center">
                        <h:form>
                            <p:menubar>
                                <p:menuitem value="Inicio" url="index.xhtml" icon="pi pi-home"/>

                                <p:submenu label="Configuración órdenes">
                                    <p:menuitem value="Causal" url="causal.xhtml"/>
                                    <p:menuitem value="Observacion" url="observation.xhtml"/>                                
                                </p:submenu>

                                <p:submenu label="Configuracion actividades">
                                    <p:menuitem value="Tipo de actvidad" url="type_Activity.xhtml"/>                             
                                </p:submenu>

                                <p:menuitem value="Cerrar sesion" actionListener="#{loginView.signOut()}" icon="pi pi-sign-out"/>

                                <f:facet name="options">
                                    <h:outputLabel value="Bienvenido #{loginView.user.username}"  />
                                </f:facet>
                            </p:menubar>
                        </h:form>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </ui:composition>
    </body>
</html>