<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>404</title>
        
    </h:head>
    <h:body>
        <div align="center">
            <h1>Error 404</h1>
            <h2>Pagina o reccurso no encontrado...</h2>
            <p>
                <p:graphicImage name="warning.png"/>
            </p>
            <p>
                Ir a <p:link href="login.xhtml" value="Inicio" escape="false"/>
            </p>
            
        </div>
    </h:body>
</html>
